@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    min-width: 100vw;
    background: linear-gradient(45deg, #8e2de2, #4a00e0);
    background-repeat: no-repeat;
}

main {
    text-align: center;
    padding: 1rem 0 1rem 0;
    min-width: 450px;
    min-height: 40vh;
    background-color: white;
    border-radius: 10px;
    margin: 10vw;
}

form h1 {
    font-size: 2.2rem;
    text-align: center;
    width: 100%;
    padding-bottom: 3vh;
    text-decoration: underline;
    text-underline-offset: 2px;
}

form legend {
    font-size: 1rem;
    margin-bottom: 4px;
}


input {
    padding: 1rem;
    position: relative;
    width: 70%;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    margin-bottom: 1vh;

}

.button {
    padding: 1rem;
    display: relative;
    width: 50%;
    border-radius: 15px;
    margin-bottom: 1vh;


}

.main {
    border: solid 2px black;
}

@media screen and (max-width:600px) {
    main {
        text-align: center;
        padding: 1rem 0 1rem 0;
        min-width: 350px;
        min-height: 30vh;
        background-color: white;
        border-radius: 10px;
        margin: 10vw;
    }

    form {
        font-size: 1.6rem;
        text-align: center;
        width: 100%;
        padding-bottom: 1vh;
        text-decoration: underline;
        text-underline-offset: 2px;
    }


}